# Ignore all KiCad autosave files
*autosave*

# Ignore all lock files
*.lck

# Ignore temporary files ending in ~
*~ 
*.*~

# Ignore all KiCad specific temporary files (excluding backups)
*.kicad_sch-bak
*.kicad_pcb-bak
*.kicad_pro-bak
*.kicad_prl-bak

# Ignore KiCad file cache
fp-info-cache/
